client/connection/src/main/resources/de/objectcode/time4u/client/connection/impl/ws/LoginService.wsdl

<definitions name='LoginServiceWSService' targetNamespace='http://objectcode.de/time4u/api/ws' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://objectcode.de/time4u/api/ws' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types></types>
 <message name='ILoginService_registerLogin'>
  <part name='arg0' type='xsd:string'></part>
  <part name='arg1' type='xsd:string'></part>
  <part name='arg2' type='xsd:string'></part>
  <part name='arg3' type='xsd:string'></part>
 </message>
 <message name='ILoginService_checkLoginResponse'>

  <part name='return' type='xsd:boolean'></part>
 </message>
 <message name='ILoginService_checkLogin'>
  <part name='arg0' type='xsd:string'></part>
 </message>
 <message name='ILoginService_registerLoginResponse'>
  <part name='return' type='xsd:boolean'></part>
 </message>
 <portType name='ILoginService'>

  <operation name='checkLogin' parameterOrder='arg0'>
   <input message='tns:ILoginService_checkLogin'></input>
   <output message='tns:ILoginService_checkLoginResponse'></output>
  </operation>
  <operation name='registerLogin' parameterOrder='arg0 arg1 arg2 arg3'>
   <input message='tns:ILoginService_registerLogin'></input>
   <output message='tns:ILoginService_registerLoginResponse'></output>
  </operation>
 </portType>

 <binding name='ILoginServiceBinding' type='tns:ILoginService'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='checkLogin'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://objectcode.de/time4u/api/ws' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://objectcode.de/time4u/api/ws' use='literal'/>

   </output>
  </operation>
  <operation name='registerLogin'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://objectcode.de/time4u/api/ws' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://objectcode.de/time4u/api/ws' use='literal'/>

   </output>
  </operation>
 </binding>
 <service name='LoginServiceWSService'>
  <port binding='tns:ILoginServiceBinding' name='LoginServiceWSPort'>
   <soap:address location='http://127.0.0.1:8080/time4u-ws/LoginService'/>
  </port>
 </service>
</definitions>