client/connection/src/main/resources/de/objectcode/time4u/client/connection/impl/ws/TaskService.wsdl

<definitions name='TaskServiceWSService' targetNamespace='http://objectcode.de/time4u/api/ws' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://objectcode.de/time4u/api/data/filter' xmlns:ns2='http://objectcode.de/time4u/api/data' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://objectcode.de/time4u/api/ws' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://objectcode.de/time4u/api/data/filter' version='1.0' xmlns:tns='http://objectcode.de/time4u/api/data/filter' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:complexType name='task-filter'>
    <xs:sequence>
     <xs:element minOccurs='0' name='active' type='xs:boolean'/>
     <xs:element minOccurs='0' name='deleted' type='xs:boolean'/>
     <xs:element minOccurs='0' name='lastModifiedByClient' type='xs:long'/>
     <xs:element minOccurs='0' name='maxRevision' type='xs:long'/>

     <xs:element minOccurs='0' name='minRevision' type='xs:long'/>
     <xs:element minOccurs='0' name='order' type='tns:order'/>
     <xs:element minOccurs='0' name='project' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:simpleType name='order'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='ID'/>
     <xs:enumeration value='NAME'/>

    </xs:restriction>
   </xs:simpleType>
  </xs:schema>
  <xs:schema targetNamespace='http://objectcode.de/time4u/api/data' version='1.0' xmlns:tns='http://objectcode.de/time4u/api/data' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:complexType name='task'>
    <xs:complexContent>
     <xs:extension base='tns:taskSummary'>
      <xs:sequence>
       <xs:element minOccurs='0' name='description' type='xs:string'/>

       <xs:element name='metaProperties'>
        <xs:complexType>
         <xs:sequence>
          <xs:element maxOccurs='unbounded' minOccurs='0' name='entry'>
           <xs:complexType>
            <xs:sequence>
             <xs:element minOccurs='0' name='key' type='xs:string'/>
             <xs:element minOccurs='0' name='value' type='tns:meta-property'/>
            </xs:sequence>

           </xs:complexType>
          </xs:element>
         </xs:sequence>
        </xs:complexType>
       </xs:element>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>

   <xs:complexType name='taskSummary'>
    <xs:sequence>
     <xs:element name='active' type='xs:boolean'/>
     <xs:element name='deleted' type='xs:boolean'/>
     <xs:element minOccurs='0' name='id' type='xs:string'/>
     <xs:element name='lastModifiedByClient' type='xs:long'/>
     <xs:element minOccurs='0' name='name' type='xs:string'/>
     <xs:element minOccurs='0' name='projectId' type='xs:string'/>
     <xs:element name='revision' type='xs:long'/>

    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='meta-property'>
    <xs:sequence/>
    <xs:attribute name='name' type='xs:string'/>
    <xs:attribute name='type' type='xs:string'/>
    <xs:attribute name='value' type='xs:string'/>
   </xs:complexType>
   <xs:complexType name='filter-result'>

    <xs:sequence>
     <xs:choice maxOccurs='unbounded' minOccurs='0'>
      <xs:element name='project' type='tns:project'/>
      <xs:element name='project-summary' type='tns:project-summary'/>
      <xs:element name='task' type='tns:task'/>
      <xs:element name='task-summary' type='tns:taskSummary'/>
     </xs:choice>
    </xs:sequence>
   </xs:complexType>

   <xs:complexType name='project'>
    <xs:complexContent>
     <xs:extension base='tns:project-summary'>
      <xs:sequence>
       <xs:element minOccurs='0' name='description' type='xs:string'/>
       <xs:element name='metaProperties'>
        <xs:complexType>
         <xs:sequence>
          <xs:element maxOccurs='unbounded' minOccurs='0' name='entry'>

           <xs:complexType>
            <xs:sequence>
             <xs:element minOccurs='0' name='key' type='xs:string'/>
             <xs:element minOccurs='0' name='value' type='tns:meta-property'/>
            </xs:sequence>
           </xs:complexType>
          </xs:element>
         </xs:sequence>
        </xs:complexType>

       </xs:element>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='project-summary'>
    <xs:sequence>
     <xs:element name='lastModifiedByClient' type='xs:long'/>
    </xs:sequence>

    <xs:attribute name='active' type='xs:boolean' use='required'/>
    <xs:attribute name='deleted' type='xs:boolean' use='required'/>
    <xs:attribute name='id' type='xs:string'/>
    <xs:attribute name='name' type='xs:string'/>
    <xs:attribute name='parentId' type='xs:string'/>
    <xs:attribute name='revision' type='xs:long' use='required'/>
   </xs:complexType>
  </xs:schema>
 </types>

 <message name='ITaskService_getTasks'>
  <part name='arg0' type='ns1:task-filter'></part>
 </message>
 <message name='ITaskService_getTaskSummariesResponse'>
  <part name='return' type='ns2:filter-result'></part>
 </message>
 <message name='ITaskService_storeTask'>
  <part name='arg0' type='ns2:task'></part>
 </message>

 <message name='ITaskService_getTaskSummaries'>
  <part name='arg0' type='ns1:task-filter'></part>
 </message>
 <message name='ITaskService_storeTaskResponse'>
  <part name='return' type='ns2:task'></part>
 </message>
 <message name='ITaskService_getTaskSummary'>
  <part name='arg0' type='xsd:string'></part>
 </message>

 <message name='ITaskService_getTaskSummaryResponse'>
  <part name='return' type='ns2:taskSummary'></part>
 </message>
 <message name='ITaskService_getTasksResponse'>
  <part name='return' type='ns2:filter-result'></part>
 </message>
 <message name='ITaskService_getTaskResponse'>
  <part name='return' type='ns2:task'></part>
 </message>

 <message name='ITaskService_getTask'>
  <part name='arg0' type='xsd:string'></part>
 </message>
 <portType name='ITaskService'>
  <operation name='getTask' parameterOrder='arg0'>
   <input message='tns:ITaskService_getTask'></input>
   <output message='tns:ITaskService_getTaskResponse'></output>
  </operation>
  <operation name='getTaskSummaries' parameterOrder='arg0'>

   <input message='tns:ITaskService_getTaskSummaries'></input>
   <output message='tns:ITaskService_getTaskSummariesResponse'></output>
  </operation>
  <operation name='getTaskSummary' parameterOrder='arg0'>
   <input message='tns:ITaskService_getTaskSummary'></input>
   <output message='tns:ITaskService_getTaskSummaryResponse'></output>
  </operation>
  <operation name='getTasks' parameterOrder='arg0'>
   <input message='tns:ITaskService_getTasks'></input>

   <output message='tns:ITaskService_getTasksResponse'></output>
  </operation>
  <operation name='storeTask' parameterOrder='arg0'>
   <input message='tns:ITaskService_storeTask'></input>
   <output message='tns:ITaskService_storeTaskResponse'></output>
  </operation>
 </portType>
 <binding name='ITaskServiceBinding' type='tns:ITaskService'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>

  <operation name='getTask'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://objectcode.de/time4u/api/ws' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://objectcode.de/time4u/api/ws' use='literal'/>
   </output>
  </operation>

  <operation name='getTaskSummaries'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://objectcode.de/time4u/api/ws' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://objectcode.de/time4u/api/ws' use='literal'/>
   </output>
  </operation>

  <operation name='getTaskSummary'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://objectcode.de/time4u/api/ws' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://objectcode.de/time4u/api/ws' use='literal'/>
   </output>
  </operation>

  <operation name='getTasks'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://objectcode.de/time4u/api/ws' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://objectcode.de/time4u/api/ws' use='literal'/>
   </output>
  </operation>

  <operation name='storeTask'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://objectcode.de/time4u/api/ws' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://objectcode.de/time4u/api/ws' use='literal'/>
   </output>
  </operation>

 </binding>
 <service name='TaskServiceWSService'>
  <port binding='tns:ITaskServiceBinding' name='TaskServiceWSPort'>
   <soap:address location='http://127.0.0.1:8080/time4u-ws/secure/TaskService'/>
  </port>
 </service>
</definitions>